localhost {
  log {
    format json
  }

  # Compression
  encode zstd
  # self-signed certificate
  tls internal

  # proxying all the requests to app:8080
  # app – service name in docker-compose.yml
  reverse_proxy /* app:8080
}